<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coursemanagement">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin_activity.All_TeacherList_Activity"></activity>
        <activity android:name=".admin_activity.Add_Teacher_Activity" />
        <activity android:name=".admin_activity.Add_Categories_Activity" />
        <activity android:name=".admin_activity.AllenrollList_Activity" />
        <activity android:name=".admin_activity.Admin_CourseRV_Activity" />
        <activity android:name=".admin_activity.AdminPanelForm_activity" />
        <activity android:name=".user_activites.Enroll_List_activity" />
        <activity android:name=".admin_activity.Add_Course_Activity" />
        <activity android:name=".user_activites.StudentRegistrationFrom_Activity" />
        <activity android:name=".user_activites.LoginFrom_activity" />
        <activity android:name=".user_activites.CourseList_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.coursemanagement"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>